.custom-table-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

ul.pagination {
    padding: 0;
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 35px;
    margin: 0 0 0 auto;
}

li.page-item {
    display: block;
}

span.page-link {
    height: 40px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
}

.custom-table-pagination .pagination .page-item.active {
    background-color:  hsl(208, 58%, 34%);
    color: white;
}